@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

html {
    box-sizing: border-box;
}
body {
    font-family: 'Inter', sans-serif;
    
}
.main-container {
    display: grid;
    grid-template-columns: auto minmax(350px, 1fr);
    grid-template-rows: auto;
    grid-template-areas: 
        "sidebar content";
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
}

.image{
    width: 100%;
}
.container--secondary {
    grid-area: content;
    display: flex;
    justify-content: stretch;
    flex-flow: column wrap;
    margin: 20px 20px;
    padding: 20px;
    max-width: 500px;
    gap: 15px;
}

.h-rule--with-text {
    border: none;
    border-top: 1px solid #11111333;
    overflow: visible;
    text-align: center;
    height: 5px;
    padding: 0 px;
    margin: 15px 10px;

}

.h-rule--with-text:after {
    background: #fff;
    content: 'or';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

.button {
    font-family: 'Inter', sans-serif;
    color: white; 
    padding: 15px 20px; 
    border: none;
    border-radius: 4px;
}



.button--black {
    background-color: #000000;
}

.button--red {
    background-color: #D7503F;
}

.form {
    padding: 0;
    display: grid;
    grid-template-columns:  1fr 1fr;
    gap: 15px 10px;
    align-items: stretch;
}

.image-container{
    grid-area: sidebar;
}


.form__input {
    padding: 10px;
    border: 1px solid rgb(238, 232, 232); 
    border-radius: 4px;
    font-size: 16px;
    grid-column: span 2;
}

.form__input-radio {
    display: inline-flex;
}

.form__label {
    display: inline-flex;
}

.form__select {
    padding: 10px;
    border: 1px solid rgb(238, 232, 232); 
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    grid-column: span 2;
    color: #000000;
    cursor: pointer;
}

.form__select:disabled {
    color: #11111399;
}


.form__date-container {
    padding: 10px;
    border: 1px solid rgb(238, 232, 232); 
    border-radius: 4px;
    font-size: 16px;
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.15s boborder-color 0.15s;
}

.form__date {
    border:none;
    background: transparent;
    cursor: pointer;
}


.form__paragraph{
    text-align: center;
    font-size: 16px;
    line-height: 140%;
    color: rgba(17, 17, 19, 0.6);
    grid-column: span 2;
}

.form__link {
    color: #000000;
    text-decoration-color: #000000; 
}


.checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.checkbox:first-child {
    grid-column: 1;
}
.checkbox:last-child {
    grid-column: 2;
}

.checkbox__input {
    display: none;
}

.checkbox__box {
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #CCCCCC; 
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    transition: background-color 0.15s boborder-color 0.15s;
}

.checkbox__box::after {
    content: '\2714';
    color: white;
    transform: scale(0);
    transition: transform 0.15s;
}

.checkbox__input:hover + .checkbox__box {
    background: #CCCCCC;
    border-color: #CCCCCC; 
}

.checkbox__input:checked + .checkbox__box {
    background: #EB5757;
    border-color: #EB5757; 
}

.checkbox__input:checked + .checkbox__box::after {
    transform: scale(1);
}

.radio {
    grid-column: 1/1;
    display: inline-flex;
    cursor: pointer;
}

.radio__input {
    display: none;
}

.radio__box {
    background: #F9DADA;
    width: 1.25em;
    height: 1.25em;
    border: 2px solid #F9DADA;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    transition: background-color 0.15s boborder-color 0.15s;
}

.radio__box::after {
    content: '\2022';      /*url(assets/Rectangle\ 23.png); */
    font-size: 25px;
    color: white;
    transform: scale(0);
    transition: transform 0.15s;
}

.radio__input:hover + .radio__box {
    background: #CCCCCC;
    border-color: #CCCCCC; 
}

.radio__input:checked + .radio__box {
    background: #EB5757;
    border-color: #EB5757; 
}

.radio__input:checked + .radio__box::after {
    transform: scale(1);
}

.form__button {
    grid-column: span 2;
}

.button:hover, button:focus {
    outline: 2px solid blue;
    cursor: pointer; 
}


.form__input:hover,.form__date-container:hover,.form__select:hover,.form__input-radio:hover {
    background-color: #CCCCCC;
}

.form__input:focus, .form__date-container:focus, .form__select:focus, .form__input-radio:focus {
    background-color: #CCCCCC;
    border: none;
    outline: 2px solid #4b484888;
}

.form__date:focus, .form__date:hover {
    border: none; 
    outline: none;
}

@media only screen and (max-width: 600px) {
    .main-container {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "sidebar"
        "content";
    }
    
}

/*
.radio__checkmark {
    background: transparent;
    display: inline-flex;
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
}

.radio__input:hover + .radio__box {
    background: #CCCCCC;
    border-color: #CCCCCC; 
}

.radio__input:checked + .radio__box {
    background: #EB5757;
    border-color: #EB5757; 
}

.radio__input:checked + .radio__checkmark::after {
    display: inline-flex;
    background: white;

}

*/